@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #f1f8fc;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #f1f8fc;
    --text-color: #45424b;
    --main-font: 2.2rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    text-decoration: none;
    position: relative;
    background-color: #f1f8fc;
    -moz-box-shadow: 10px 10px 5px rgb(103, 103, 103);
    -webkit-box-shadow: 10px 10px 5px rgb(103, 103, 103);
    box-shadow: 10px 10px 5px rgb(103, 103, 103);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 8%;
    transition: 0.3s;
}

#navbar_logo{
    margin-top: .2 rem;
    text-decoration: none;
    padding:0.5em;
    color: #45424b;
    font-size: 1.2rem;
    font-weight: 700;
    
}

#blueLogo{
    color: #49a4dc;
    font-size: 1.5rem;    
    font-weight: 700;
}

.navbar{
    display: flex;
}
.navbar a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 15px;
    transition: all .3s ease;
}
.navbar a:hover{
    background: #49a4dc;
    border-radius: 15px;
    color: #fff
}
.icons{
    display: inline-block;
}
.icons i{
    color: var(--text-color);
    font-size: 24px;
    margin-left: 15px;
}
.icons i:hover{
    opacity: .7;
}
.icons button{
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.small-container{
    margin-top: 40px;
    margin-left: 90px;
}
.col-2{
    float: left;
    margin: 20px;
    width:40%;
    height:auto;
}

.col-2 img{
    border-radius: 15px;
    border: 2px solid #000000;
    width:100%;
    height:auto;
}

.right-text{
    margin-top:20px;
    margin-left: 10px;
    width: 500px;
    max-width: 500px;
}

.right-text hr{
    border: 0;
    border-top: 1px solid #000000;
    margin-bottom: 30px;
}

.right-text h1{
    margin-bottom: 1px;
   
}

.right-text h4{
    margin-bottom: 20px;
}
.right-text select{
    margin-right: 50px;
    border-radius: 10px;
    font-size: 14px;
}
.right-text input{
    margin-right: 50px;
    margin-left: 5px;
    border-radius: 10px;
    width: 50px;
    border-width: 1px;
    text-align: center;
}

.inputBtn{
    margin-top: 40px;
    margin-bottom: 40px;
}

.inputBtn .btn{
    border-color: transparent;
    background-color: #69b9eb;
    color: #fff;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
    width: 150x;
    transition: all 0.3 ease;
    border-radius: 10px;
}
.inputBtn .btn:hover{
    background: #3586b9;
    border-radius: 10px;
    color: #fff
}