<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css')}}" />

    <!-- This is the link for incons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script type="text/javascript">
        var user = '{{username}}'
    </script>
    <title>Volition</title>
</head>
<body>
    <header>
        <a href="/landpage" id="navbar_logo">Volition<span id="blueLogo">VL</span></a>

        <ul class="navbar">
            <li><a href="/ecommerce">Shop Now</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
        </ul>

        <div class="icons">            
            <!--<a href="#"><i class='bx bx-search-alt-2' ></i></a>-->
            <a href="/ecommerce/cart"><i class='bx bx-cart' ></i></a>
            <a href="/ecommerce/profile"><i class='bx bxs-user-account'></i></a>
            <a href="/logout"><i class='bx bx-log-out bx-flip-horizontal' ></i></a>
        </div>
    </header>
    <div class="cart-header">
        <h3>Product</h3>
        <h3>Quantity</h3>
        <h3>Subtotal</h3>
    </div>
    <!-- Start For loop here-->
    {% for inventory, shoe, cart_item, total in zipped_data %}
    <section class="main-body">
        <div class="cart-content">
            <div class="product">
                <div class="image">
                    <img src="{{ url_for('static', filename='images/' + shoe[8])}}" alt="">
                </div> 
                <div class="text"> 
                    <h4>{{shoe[1]}}</h4>
                    <h5>Size: {{inventory[2]}}</h5>
                    <h5>US$: {{shoe[3]}}</h5>
                    <a href="delete_shoe/{{inventory[0]}}"><i class='bx bx-trash'></i></a>   
                </div>      
            </div>
            <div class="quantity">
                <h4>{{cart_item[2]}}</h4> 
            </div>
            <div class="subtotal">
                
                <p>US$ {{ total[3] }}</p>
            </div>            
        </div>
    </section>
    {% endfor %}
    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>$231.97</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>$2.99</td>
            </tr>
            <tr>
                <td>Purchase Total</td>
                <td>$234.96</td>
            </tr>             
        </table>
    </div>
    <div class="checkout">
        <a class="viewBtn" href="/ecommerce/checkout">Checkout ></a>
    </div>


    <script>
        function deleteShoe(inventoryId, shoeId) {
            // Make an AJAX request to your Flask route
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/delete_shoe/' + inventoryId + '/' + shoeId);
            xhr.onload = function() {
                if (xhr.status === 200) {
                    // Handle the successful response, if needed
                    console.log('Shoe deleted successfully.');
                } else {
                    // Handle the error response, if needed
                    console.error('Error deleting the shoe.');
                }
            };
            xhr.send();
        }
    </script>