<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkout.css')}}" />
    

    <!-- This is the link for incons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script type="text/javascript">
        var user = '{{username}}'
    </script>
    <title>Ecommerce</title>
</head>
<body>
    <header>
        <a href="/landpage" id="navbar_logo">Volition<span id="blueLogo">VL</span></a>

        <ul class="navbar">
            <li><a href="/ecommerce">Shop Now</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
        </ul>

        <div class="icons">
            <!--<a href="#"><i class='bx bx-search-alt-2' ></i></a>-->
            <a href="/ecommerce/cart"><i class='bx bx-cart' ></i></a>
            <a href="/ecommerce/profile"><i class='bx bxs-user-account'></i></a>
            <a href="/logout"><i class='bx bx-log-out bx-flip-horizontal' ></i></a>
        </div>
    </header>
    <section>
        <div class="right">
            <div class="payment">
                <h2>Payment Information:</h2>
                <form action="" class="checkout-form">
                    <div class="input-line">
                        <label for="name">Name on card:</label>
                        <input type="text" name="name" id="name" placeholder="Name on card">
                    </div> 
                    <div class="input-line">
                        <label for="card">Card number:</label>
                        <input type="text" name="card" id="card" placeholder="1111-1111-1111-1111">
                    </div>
                    <div class="input-line">
                        <label for="date">Expiration Date:</label>
                        <input type="text" name="date" id="date" placeholder="11-27">
                    </div>
                    <div class="input-line">
                        <label for="cvc">CVC:</label>
                        <input type="text" name="cvc" id="cvc" placeholder="***">
                    </div>
                </form>
            </div>
            <div class="address">
                <h2>Shipping address:</h2>
                <form action="" class="checkout-form">
                    <div class="input-line">
                        <label for="addree1">Address 1:</label>
                        <input type="text" name="address1" id="address1">
                    </div> 
                    <div class="input-line">
                        <label for="address2">Address 2:</label>
                        <input type="text" name="address2" id="address2" placeholder="">
                    </div>
                    <div class="input-line">
                        <label for="zip">Zip Code:</label>
                        <input type="text" name="zip" id="zip">
                    </div>
                    <div class="input-line">
                        <label for="state">State:</label>
                        <input type="text" name="state" id="state">
                    </div>
                </form>
            </div>
        </div>
        <div class="summary">
            <h2>Purchase items:</h2>
            <!--For loop starts here-->
            {% for inventory, shoe, cart_item, total in zipped_data %}
            <div class="summary-item">
                <div class="summary-item-image">
                    <img src="{{ url_for('static', filename='images/' + shoe[8])}}" alt="">
                </div>
                <div class="summary-item-info">
                    <h5>{{ shoe[1] }}</h5>
                    <h5>{{ shoe[3] }} x {{ cart_item[2] }}</h5>
                </div>
            </div>
            {% endfor %}
            <!--For loop ends here-->
            
            <h2>Purchase Summary:</h2>
            <div class="order-summary">
                <table>
                    <tr>
                        <td>items(3): </td>
                        <td>{{cart_subtotal}}</td>
                    </tr>
                    <tr>
                        <td>Shipping: </td>
                        <td>$2.99</td>
                    </tr>
                    <tr>
                        <td>Total Before tax: </td>
                        <td>{{cart_total}}</td>
                    </tr>
                    <tr>
                        <td>Tax & Fees: </td>
                        <td>$23.88</td>
                    </tr>
                </table>
            </div>
            <div class="order-total">
                <table>
                    <tr>
                        <td>Order total:</td>
                        <td>{{ order_total }}</td>
                    </tr>
                </table>                
            </div>
            <div class="place-order">
                <a class="place-order-btn" href="/order_confirmation">Place order</a>
            </div>
        </div>
    </section>

</body>