<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ecommerce.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css')}}" />

    <!-- This is the link for incons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script type="text/javascript">
        var user = '{{username}}'
    </script>
    <title>Ecommerce</title>
</head>
<body>
    <header>
        <a href="/landpage" id="navbar_logo">Volition<span id="blueLogo">VL</span></a>

        <ul class="navbar">
            <li><a href="/ecommerce">Shop Now</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
        </ul>

        <div class="icons">
            <button data-modal-target="#modal"><i class='bx bx-search-alt-2' ></i></button>
            <!--<a href="#"><i class='bx bx-search-alt-2' ></i></a>-->
            <a href="/ecommerce/cart"><i class='bx bx-cart' ></i></a>
            <a href="/ecommerce/profile"><i class='bx bxs-user-account'></i></a>
            <a href="/logout"><i class='bx bx-log-out bx-flip-horizontal' ></i></a>
        </div>
    </header>
    <section class="shop" id="shop">
        <div class="container">

            {% for item in sendList %}
                <div class="box">
                    <img src="{{ url_for('static', filename='images/' + imagePath)}}"/>
                    <h5>Hokas Nimbus</h5>
                    <h6>15 USD</h6>
                    <div class="cart">
                        <a href="#"><i class='bx bx-cart-add' ></i></a>
                    </div>
                    
                    <div class="AddForm">
                        <form method="POST"></form>
                            <input class="cartInput" type="input" value={{sendList[item]}} name="id" id="addToCart">
                            <label for="">Add to Cart</label>
                        </form>
                    </div>                   
                    <!--
                    <button
                        data-product="{{sendList[item]}}"
                        data-action="add" 
                        class="btn btn-outline-secondary add-btn update-cart">Add To Cart
                    </button>-->
                </div>
            {% endfor %}
            <!--
            <div class="box">
                <img src="{{ url_for('static', filename='images/rads.jpg')}}"/>
                <h5>Rads Crossfit</h5>
                <h6>30 USD</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
                <button>Add To Cart</button>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/adidas.jpg')}}"/>
                <h5>Adidas NMDs R1</h5>
                <h6>45 USD</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
                <button>Add To Cart</button>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/nike1.jpg')}}"/>
                <h5>Nike Runner</h5>
                <h6>90 USD</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
                <button>Add To Cart</button>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
                <button>Add To Cart</button>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>
                </div>
                <button>Add To Cart</button>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>
                </div>
                <button>Add To Cart</button>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>
                </div>
                <button>Add To Cart</button>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>
                </div>
                <button>Add To Cart</button>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>
                </div>
                <button>Add To Cart</button>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>
                </div>
                <button>Add To Cart</button>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>
                </div>
                <button>Add To Cart</button>
            </div>
            -->
        </div>        
    </section>

    <div class="modal" id="modal">
        <div class="modal-header">
          <div class="title">What are you looking for ?</div>
          <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            
            <div class="raio-container">

                <form method="POST">
                    <h4>Brand:</h4>
                    <input type="radio" id="nike" name="brand" value="nike">
                    <label class="search" for="nike">Nike</label>

                    <input type="radio" id="hokas" name="brand" value="hokas">
                    <label class="search" for="hokas">Hokas</label>

                    <input type="radio" id="rads" name="brand" value="rads">
                    <label class="search" for="rads">Rads</label>

                    <input type="radio" id="adidas" name="brand" value="adidas">
                    <label class="search" for="adidas">Adidas</label>

                    <h4>Type:</h4>
                    <input type="radio" id="tennis" name="type" value="tennis">
                    <label class="search" for="tennis">Tennis</label>

                    <input type="radio" id="lifting" name="type" value="lifting">
                    <label class="search" for="lifting">Lifting</label>

                    <input type="radio" id="running" name="type" value="running">
                    <label class="search" for="running">Running</label>

                    <input type="radio" id="hiking" name="type" value="hiking">
                    <label class="search" for="hiking">Hiking</label>

                    <h4>Color:</h4>
                    <input type="radio" id="white" name="color" value="white">
                    <label class="search" for="white">White</label>

                    <input type="radio" id="black" name="color" value="black">
                    <label class="search" for="black">Black</label>

                    <input type="radio" id="red" name="color" value="red">
                    <label class="search" for="red">red</label>

                    <input type="radio" id="blue" name="color" value="blue">
                    <label class="search" for="blue">Blue</label>

                    <h4>Sex:</h4>
                    <input type="radio" id="male" name="sex" value="male">
                    <label class="search" for="male">Male</label>

                    <input type="radio" id="female" name="sex" value="female">
                    <label class="search" for="female">Female</label>

                    <button>Search</button>
                </form>

            </div>
        </div>
      </div>
      <div id="overlay"></div>

      <script src="{{url_for('static', filename='js/modal.js')}}"></script>
      <script src="{{url_for('static', filename='js/cart.js')}}"></script>
</body>
</html>
