<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ecommerce.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css')}}" />

    <!-- This is the link for incons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Ecommerce</title>
</head>
<body>
    <header>
        <a href="/landpage" id="navbar_logo">Volition<span id="blueLogo">VL</span></a>

        <ul class="navbar">
            <li><a href="/ecommerce">Shop Now</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
        </ul>

        <div class="icons">
            <button data-modal-target="#modal"><i class='bx bx-search-alt-2' ></i></button>
            <!--<a href="#"><i class='bx bx-search-alt-2' ></i></a>-->
            <a href="/ecommerce/cart"><i class='bx bx-cart' ></i></a>
            <a href="/ecommerce/profile"><i class='bx bxs-user-account'></i></a>
            <a href="/logout"><i class='bx bx-log-out bx-flip-horizontal' ></i></a>
        </div>
    </header>
    <section class="shop" id="shop">
        <div class="container">
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Hokas Nimbus</h5>
                <h6>15 USD</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/rads.jpg')}}"/>
                <h5>Rads Crossfit</h5>
                <h6>30 USD</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/adidas.jpg')}}"/>
                <h5>Adidas NMDs R1</h5>
                <h6>45 USD</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/nike1.jpg')}}"/>
                <h5>Nike Runner</h5>
                <h6>90 USD</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
            </div>
            <div class="box">
                <img src="{{ url_for('static', filename='images/hokas.jpg')}}"/>
                <h5>Item description</h5>
                <h6>Item price</h6>
                <div class="cart">
                    <a href="#"><i class='bx bx-cart-add' ></i></a>

                </div>
            </div>

        </div>
        
    </section>

    <div class="modal" id="modal">
        <div class="modal-header">
          <div class="title">What are you looking for ?</div>
          <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
            
            <div class="raio-container">

                <form method="POST">
                    <h4>Brand:</h4>
                    <input type="radio" id="nike" name="brand" value="nike">
                    <label for="nike">Nike</label>

                    <input type="radio" id="hokas" name="brand" value="hokas">
                    <label for="hokas">Hokas</label>

                    <input type="radio" id="rads" name="brand" value="rads">
                    <label for="rads">Rads</label>

                    <input type="radio" id="adidas" name="brand" value="adidas">
                    <label for="adidas">Adidas</label>

                    <h4>Type:</h4>
                    <input type="radio" id="tennis" name="type" value="tennis">
                    <label for="tennis">Tennis</label>

                    <input type="radio" id="lifting" name="type" value="lifting">
                    <label for="lifting">Lifting</label>

                    <input type="radio" id="running" name="type" value="running">
                    <label for="running">Running</label>

                    <input type="radio" id="hiking" name="type" value="hiking">
                    <label for="hiking">Hiking</label>

                    <h4>Color:</h4>
                    <input type="radio" id="white" name="color" value="white">
                    <label for="white">White</label>

                    <input type="radio" id="black" name="color" value="black">
                    <label for="black">Black</label>

                    <input type="radio" id="red" name="color" value="red">
                    <label for="red">red</label>

                    <input type="radio" id="blue" name="color" value="blue">
                    <label for="blue">Blue</label>

                    <h4>Sex:</h4>
                    <input type="radio" id="male" name="sex" value="male">
                    <label for="male">Male</label>

                    <input type="radio" id="female" name="sex" value="female">
                    <label for="female">Female</label>

                    <button>Search</button>
                </form>

            </div>
        </div>
      </div>
      <div id="overlay"></div>

      <script src="{{url_for('static', filename='js/modal.js')}}"></script>
</body>
</html>
