<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modelview.css')}}" />

    <!-- This is the link for incons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script type="text/javascript">
        var user = '{{username}}'
    </script>
    <title>Volition</title>
</head>
<body>
    <header>
        <a href="/landpage" id="navbar_logo">Volition<span id="blueLogo">VL</span></a>

        <ul class="navbar">
            <li><a href="/ecommerce">Shop Now</a></li>
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
        </ul>

        <div class="icons">            
            <!--<a href="#"><i class='bx bx-search-alt-2' ></i></a>-->
            <a href="/ecommerce/cart"><i class='bx bx-cart' ></i></a>
            <a href="/ecommerce/profile"><i class='bx bxs-user-account'></i></a>
            <a href="/logout"><i class='bx bx-log-out bx-flip-horizontal' ></i></a>
        </div>
    </header>
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="{{ url_for('static', filename='images/' + shoe[8])}}"/>
            </div>
            <div class="col-2">
                <div class="right-text">
                    <p>Ecommerce / Model</p>
                    <h1>{{shoe[1]}}</h1>
                    <hr>
                    <h4>Shoe Price: US$ {{shoe[3]}}</h4>
                    <form method="POST">
                        <select name="sizeselector" id="">
                            <option value="">Select A Size</option>
                            {% for shoe in inventory %}
                                <option name="size" value="{{shoe[2]}}">{{shoe[2]}}</option>
                            {% endfor %}
                        </select>
                        
                        Quantity: <input type="number" value="1" name="quantity"> 

                        <div class="inputBtn">
                            <button class="btn">Add To Cart</button>
                            <!--
                            <a href="/add_to_cart/{{shoe[0]}}" class="btn">Add To Cart</a>
                            -->
                        </div>
                    </form>

                    <h4>Product Description:</h4>
                    <p>A shoe is an item of footwear intended to protect and comfort the human foot.
                        They are often worn with a sock. Shoes are also used as an item of decoration and fashion.
                        The design of shoes has varied enormously through time and from culture to culture,
                        with form originally being tied to function</p>
                </div>
            </div>
        </div>
    </div>
</body>